@import url("https://fonts.googleapis.com/css?family=Poppins:400,600,700");


:root {
  --accent: #ff7a00;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  line-height: 28px;
  letter-spacing: -0.2px;
  color: #666;
  font-weight: 400;
  position: relative;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #222;
}

h1 {
  font-size: 52px;
  font-weight: 600;
  line-height: 1.2;
  margin: 0 0 25px;
  color: #222;
  letter-spacing: -3px;
}

h2 {
  color: #333;
  margin: 0 0 25px;
  font-weight: 600;
  line-height: 1.1;
  letter-spacing: -1.5px;
  text-transform: uppercase;
}

h3,
h4 {
  margin: 0 0 10px;
  font-weight: 600;
  line-height: 1.7;
  color: #222;
  letter-spacing: -0.025rem;
}

h3 {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: -0.025rem;
  line-height: 1.2;
}

h4 {
  font-size: 16px;
}

h5,
h6 {
  font-size: 14px;
  margin: 0 0 10px;
}

img {
  border: none;
  outline: none;
  max-width: 100%;
}

ul {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  font-size: 17px;
  color: #666;
  margin-bottom: 15px;
}

a,
a:hover {
  text-decoration: none;
}

a:focus {
  outline: 0;
  text-decoration: none;
}

input::-webkit-input-placeholder {
  color: #555 !important;
}

input:-moz-placeholder {
  /* Firefox 18- */
  color: #555 !important;
}

input::-moz-placeholder {
  /* Firefox 19+ */
  color: #555 !important;
}

input:-ms-input-placeholder {
  color: #555 !important;
}

button {
  border: none;
  background: none;
}


.align-center {
  text-align: center;
}

/* Preloader Styles */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: #1e4ea8;
  height: 100%;
  width: 100%;
  -webkit-transition: all 0.5s 0.5s ease;
  -moz-transition: all 0.5s 0.5s ease;
  transition: all 0.5s 0.2s ease;
}

.loader {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  width: 60px;
  height: 60px;
  display: block;
  margin: auto;
  margin-top: -30px;
}

body.loaded #preloader {
  opacity: 0;
  visibility: hidden;
}

/*Battery*/
.battery {
  width: 28px;
  height: 14px;
  border: 1px #fff solid;
  border-radius: 2px;
  position: relative;
  -webkit-animation: charge 5s linear infinite;
  -moz-animation: charge 5s linear infinite;
  animation: charge 5s linear infinite;
  top: 40px;
  margin: 0 auto;
}

.battery:after {
  width: 2px;
  height: 7px;
  background-color: #fff;
  border-radius: 0px 1px 1px 0px;
  position: absolute;
  content: "";
  top: 2px;
  right: -4px;
}

@-webkit-keyframes charge {
  0% {
    box-shadow: inset 0px 0px 0px #fff;
  }

  100% {
    box-shadow: inset 30px 0px 0px #fff;
  }
}

@-moz-keyframes charge {
  0% {
    box-shadow: inset 0px 0px 0px #fff;
  }

  100% {
    box-shadow: inset 30px 0px 0px #fff;
  }
}

@keyframes charge {
  0% {
    box-shadow: inset 0px 0px 0px #fff;
  }

  100% {
    box-shadow: inset 30px 0px 0px #fff;
  }
}


/* Transition Effect */
a,
a:hover,
img {
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

/* ==========================================================================
   Header Section
   ========================================================================== */
.header-section {
  background-color: transparent;
  width: 100%;
  height: 80px;
  z-index: 999;
  position: fixed;
  left: 0;
  top: 0;
  padding: 10px 0;
  transition: all .3s ease-in-out;
}


.navbar {
  border: none;
  border-radius: 0;
  margin: 0;
  position: relative;
  padding: 0;
}


.navbar-header {
  padding: 17px 0;
}

.navbar-header .brand {
  font-size: 25px;
  color: #333;
  font-family: "Poppins", sans-serif;
  letter-spacing: -1px;
  font-weight: 600;
  margin-left: 13px;
}

.brand {
  display: flex;
  align-items: center;
  gap: 12px;
  text-decoration: none;
  font-size: 25px;
  color: #333;
  font-family: "Poppins", sans-serif;
  letter-spacing: -1px;
  font-weight: 600;
  margin-left: 13px;
}

.brand-icon {
  flex: 0 0 36px;
}

.brand-text {
  font-weight: 700;
  font-size: 1.05rem;
}


/* Nav Menu */
#navbar {
  z-index: 999;
  padding: 0 15px;
}

ul.nav>li>a {
  color: rgba(255, 255, 255, 0.9);
  font-family: "Poppins", sans-serif;
  display: inline-block;
  vertical-align: middle;
  padding: 0 10px;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 70px;
  z-index: 1;
}

ul.nav>li>a:hover,
ul.nav>li>a:focus,
ul.nav>li>a.active {
  background: none;
  color: #fff;
  opacity: 1;
}


/*Mobile Menu */
.menu-wrap {
  position: relative;
}

.slicknav_menu {
  background: none;
  padding: 4px 0;
  display: none;
  width: 100%;
  position: absolute;
  right: 0;
  top: 70px;
}

.slicknav_nav {
  background-color: #fff;
}

.slicknav_btn {
  background-color: transparent;
  margin: -53px 5px 19px;
}

.slicknav_nav .slicknav_row:hover,
.slicknav_nav .slicknav_row,
.slicknav_nav a,
.slicknav_nav a:hover {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}

.slicknav_nav .slicknav_row,
.slicknav_nav a {
  padding: 10px 15px;
  margin: 0;
  color: #777;
}

.slicknav_nav ul {
  margin: 0;
}

.slicknav_nav ul li a {
  padding-left: 30px;
  font-size: 12px;
}

.slicknav_nav .slicknav_row:hover,
.slicknav_nav a:hover {
  background-color: transparent;
  color: #333;
}



/* ==========================================================================
   Hero Section
   ========================================================================== */
.hero-section {
  background-color: #fff;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.hero-section:before {
  background-image: url(../img/hero-wave.png);
  background-position: top right;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  content: "";
  position: absolute;
  width: 100%;
  height: 80%;
  right: -155px;
  top: -160px;
  z-index: -1;
}

.hero-content h1 {
  margin-bottom: 20px;
  font-size: 41px;
}

.hero-content p {
  line-height: 1.5;
  margin: 0 0 25px;
}

.hero-content .download-btn:hover {
  opacity: 0.8;
}

/*  */
.hero-inner {
  position: relative;
}

.hero-moc {
  background-image: url(../img/hero-mockup.png);
  background-position: inherit;
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  position: absolute;
  width: 300px;
  height: 500px;
  vertical-align: middle;
  bottom: -280px;
  right: -25px;
  overflow: hidden;
  animation-name: mock-animation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  -webkit-animation-name: mock-animation;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}


.custom-upload-button {
  background-color: #ff7a00;
  color: white;
  padding: 20px 25px;
  border-radius: 10px;
  font-weight: 800;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.2s;
  margin: 0 auto 10px auto;
}

/* 3. Hide the Native File Input */
.custom-file-input-wrapper input[type="file"] {
  /* Completely hide the default input element */
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.selectedFileName {
  word-break: break-word;
}


#navmenu li {
  cursor: pointer;
}


/*Mockup Animation*/
@-webkit-keyframes mock-animation {
  0% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(-25px);
    transform: translateY(-25px);
  }
}

@keyframes mock-animation {
  0% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}

/*==================== media query for mobile =======================*/
@media (max-width: 992px) {
  .hero-moc {
    display: block !important;
    width: 275px;
    right: 0px !important;
  }

  .navbar {
    right: 85px !important;
  }
}

@media (max-width: 767px) {
  .hero-section {
    height: 100%;
    padding-top: 20em;
    text-align: center;
  }


  .header-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .hero-inner {
    padding-top: 0px !important;
  }

  .slicknav_menu {
    top: 50px;
  }

  .hero-section:before {
    right: 0px;
    top: -200px !important;
    z-index: -1;
  }

  html,
  body {
    width: 100%;
    max-width: 100%;
  }

  .hero-content h1 {
    margin-bottom: 20px;
    font-size: 30px;
  }


}

@media (max-width: 525px) {

  .hero-section:before {
    height: 100%;
    right: 0px;
    top: -180px !important;
    z-index: -1;
  }

  .hero-moc {
    display: block !important;
    width: 180px;
    right: 30% !important;
    bottom: 70px;
    height: 300px;
  }

  .footer-section {
    bottom: 23em;
  }
}


/* ==========================================================================
   Footer Section
   ========================================================================== */
.footer-section {
  background-color: #fff;
  display: block;
  color: #777;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 999;
}

.footer-section p {
  color: #555;
  font-size: 14px;
  margin: 0;
}

/* ==========================================================================
   Miscellanous
   ========================================================================== */


.mybutton:hover,
.custom-upload-button:hover {
  background-color: #15408a;
  transition: all 0.5s;
  color: white;
}

/* ==========================================================================
   Responsive Section
   ========================================================================== */


@media (max-width: 1170px) {
  .swiper-container {
    width: 70%;
  }

  .download-mockup {
    right: -250px;
  }
}

@media (max-width: 1024px) {
  .hero-moc {
    right: -8px;
  }

  .hero-section {
    height: 650px;
  }

  h2 {
    font-size: 24px;
  }
}

/* ---- Start of max-width 992px CSS ---- */
@media (max-width: 992px) {
  .sm-padding {
    padding: 15px;
  }

  .feature_list,
  .about_content {
    padding: 0;
  }

  .hero_mockup {
    background-position: 120% center;
  }

  .hero-section:before {
    top: -308px;
    height: 100%;
  }

  ul.nav>li>a {
    padding: 0 5px;
    font-size: 10px;
  }

  .hero-moc {
    display: none;
  }

  .swiper-container {
    width: 260px;
  }

  .swiper-container .swiper-slide {
    text-align: center;
  }

  .swiper-container .swiper-slide img,
  .swiper-container .swiper-slide-active img {
    width: 80% !important;
  }

  .swiper-container .swiper-next,
  .swiper-container .swiper-prev {
    display: none;
  }

  .content-info {
    padding-bottom: 65px;
    padding-top: 0;
  }

  .download-mockup {
    display: none;
  }

  .download-btn a {
    margin: 0 5px;
  }

  .download-content h2 {
    font-size: 24px;
  }

  .download-content {
    padding: 0;
  }

  .hero-section {
    height: 570px;
  }

  .container-test {
    width: 97%;
    margin-left: 10%;
  }

}

/* ---- End of max-width 992px CSS ---- */


/* ---- Start of min-width 480px and max-width 768px CSS ---- */
@media all and (min-width: 480px) and (max-width: 768px) {}

/* ---- End of min-width 480px and max-width 768px CSS ---- */


/* ---- Start of max-width 767px CSS ---- */
@media all and (max-width: 767px) {

  body,
  p {
    font-size: 14px;
    line-height: 24px;
  }

  h1 {
    font-size: 30px !important;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 20px;
  }

  .play-btn:before,
  .mock-hide,
  p br {
    display: none;
  }

  .padding {
    padding: 70px 0;
  }

  .promo-section {
    padding-top: 0;
  }

  .xs-padding {
    padding: 15px;
  }

  .section-heading h2 {
    font-size: 30px;
  }

  .section-heading p {
    font-size: 16px;
  }

  .navbar-brand {
    padding: 20px 0;
  }

  .menu-btn,
  .menu-wrap ul.nav {
    display: none;
  }

  .slicknav_menu {
    display: block;
  }

  .hero-inner {
    padding-top: 50px;
  }

  .play-btn {
    left: calc(50% - 30px);
    top: calc(50% - 30px);
  }

  .content-info {
    padding-bottom: 0;
  }

  .download-content {
    text-align: center;
  }

  .container-test {
    width: 95%;


  }
}

/* ---- End of max-width 767px CSS ---- */


/* ---- Start of max-width 520px CSS ---- */
@media all and (max-width: 520px) {
  .hero-section {
    height: 460px;
  }

  .hero-content p {
    font-size: 16px;
  }

  .subscribe-form {
    width: 100%;
  }

  .download-content h2 {
    font-size: 30px;
  }

  .download-content p {
    margin-bottom: 25px;
  }

  .download-btn a:first-child {
    margin-bottom: 10px;
  }


}

/* ---- End of max-width 520px CSS ---- */


/* ---- Start of max-width 420px CSS ---- */
@media all and (max-width: 420px) {

  .navbar {
    right: 0px !important;
  }

}

/* ---- End of max-width 420px CSS ---- */


/* ---- Start of max-width 380px CSS ---- */
@media all and (max-width: 380px) {}

/* ---- End of max-width 380px CSS ---- */

/* ==========================================================================
   Summary formating
   ========================================================================== */

.summary-design {
  white-space: pre-wrap;
}


/* ==========================================================================
  Nav bar contd
   ========================================================================== */

.container-test {
  width: 98%;


}